@tailwind base;
@tailwind components;
@tailwind utilities;

.chat-app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

.chat-header {
  background-color: #333;
  color: #fff;
 padding: 10px;
}